<div id="footer" class="footer">
   <div class="container">
      <p class="links">
         <span >© App Electric 2018</span>

         <a href="sitemap.xml" class="p-2" target="_new">
            Sitemap
         </a>
         <a href="https://appelectric.powersites.ph/#jobs" class="p-2" target="_new"> 
            Be part of our Team!
         </a>
      </p>
      <p class="social">
         <span>Follow us on:</span>
         <br>
         <a class="icon ion-logo-instagram" target="_new" href="https://www.instagram.com/appelectricph/"></a>
         <a class="icon ion-logo-facebook" target="_new" href="https://www.facebook.com/appelectricpanelbuilder/"></a>
         <a class="icon ion-logo-twitter" target="_new" href="https://twitter.com/app_electric"></a>
         <a class="icon ion-logo-linkedin"target="_new" href="https://www.linkedin.com/company/app-electric/"></a>
      </p>
   </div>

</div>