<div class="top-header">
    <a href="tel:025676602"> <i class="icon ion-md-call"></i> +63(2)5676602</a>
  <a href="mailto:sales@appelectric.com.ph"><i class="icon ion-md-mail"></i> sales@appelectric.com.ph</a>
</div>

<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-3 bg-white">
          <a class="my-0 mr-md-auto" href="/"><img src="../assets/images/logo.png"></a>
          <nav class="my-2 my-md-0 mr-md-3 header">
            <a class="p-2 text-dark" href="/#about">Our Story</a>
            <a class="p-2 text-dark" href="/products">Products</a>
            <a class="p-2 text-dark" href="/blog">Blog</a>
          </nav>
       
        </div>
        </div>