

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{site.description}}">    
    <meta name="author" content="App Electric">
    <meta name="keywords" content="electric equipment Metro Manila, Automatic Transfer Switch Metro Manila, electric transformers Metro Manila, panelboard fabricator Metro Manila, electrical supplier Metro Manila, ATS supplier Metro Manila, circuit breaker supplier Metro Manila, electrical controls Metro Manila, control panels in Metro Manila, Panelboard in Metro Manila, Switch Gear in Metro Manila, Wires in Metro Manila">

     <!-- For Facebook -->
{% if page.url contains "/blog" %}
<meta property="og:title" content="{{page.title}}" />
{% else %}
<meta property="og:title" content="App Electric PH - Custom panelboard fabricator and manufacturer | ATS,circuit breaker,switch gears and electrical supplier in Metro Manila, Philippines" />
{% endif %}
<meta property="og:image" content="{{page.imageUrl}}" />
<meta property="og:description" content="{{page.description}}" />

<link rel=”apple-touch-icon” sizes=”114×114″ href="assets/images/touch-icon114.png" />
<link rel=”apple-touch-icon” sizes=”72×72″ href="assets/images/touch-icon72.png" />
<link rel=”apple-touch-icon” href="assets/images/touch-icon.png" />

<title>{{site.title}}</title>